<div class="container">
   <div class="row justify-content-center">
      <div class="mx-auto">
         <br>
         <h1>Error 400.</h1>
         <h6>Please contact administrators:</h6>
         <br>
      </div>
   </div>
   <div aling="left">
      <div class="mx-auto">
         <h4>members:</h4>
         <br>
         <h6>- Daniel Rincon zabala Melo </h6>
         <h6>- Andres Felipe Arias Melo </h6>
         <h6>- Genderson Marin Florez </h6>
         <h6>- Juan David Alvarado Rivera </h6>
         <h6>- omar de Jesus Castro Arenas </h6>
         <br>
         <button [routerLink]="['/']" type="button" class="btn btn-warning mb-4">back to home</button>
      </div>
   </div>
</div>