


    <div class="container">
             <div class="row justify-content-center">
                <div class="mx-auto">
            
                   <h1>Error 400</h1> 
                  <h3>integrantes </h3> 
                  <h5>Genderson Marin Florez </h5> 
                  <h5>Omar de Jesus Castro Arenas </h5>
                  <h5>Andres Felipe Arias Melo </h5>
                  <h5>Daniel Rincon Zabala Melo </h5>
                  <h5>Juan David Alvarado Rivera </h5>
                  <button  [routerLink]="['/']" type="button" class="btn btn-warning mb-4">regreso al home</button>
        
             </div>
        </div> 
     </div>  
                      
                     
    

