<div class="dos">
  <div class="container-fluid ml-10 ">
    <div class="row">
      <!--texto que llama al home-->
      <div class="col-6 ml-60 mt-5">
        <button [routerLink]="['/']" type="button" class="btn btn-warning mb-4">home</button>


      </div>
      <div class="col-6 ml-60 mt-5">

        <h4>Movie: {{film.title}}</h4>
      </div>

    </div>
    <!--contenido imagen-->
    <div class="row ">

      <div class="col-4  ">
        <img class="img-thumbnail" src="./assets/images/revange-of-the-sith-V1.png">

      </div>
      <!---contenido acordion-->
      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Content
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{film.opening_crawl}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Director
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                {{film.director}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Release date
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
              data-parent="#accordionExample">
              <div class="card-body">
                {{film.release_date}}
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="row pt-5">

      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="true" aria-controls="collapseFour">
                  Vehicles
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Model</th>
                      <th scope="col">Passengers</th>
                      <th scope="col">Builder</th>
                      <th scope="col">Top Speed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vehicle of vehicles ; let indexV = index">
                      <th scope="row">{{indexV + 1}}</th>
                      <td>{{vehicle.name}}</td>
                      <td>{{vehicle.model}}</td>
                      <td>{{vehicle.passengers}}</td>
                      <td>{{vehicle.manufacturer}}</td>
                      <td>{{vehicle.max_atmosphering_speed}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="true" aria-controls="collapseFive">
                  Character
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Height</th>
                      <th scope="col">Birth Year</th>
                      <th scope="col">Gender</th>
                      <th scope="col">Hair Color</th>
                      <th scope="col">Eye Color</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Character of characters ; let indexV = index">
                      <th scope="row">{{indexV + 1}}</th>
                      <td>{{Character.name}}</td>
                      <td>{{Character.height}}</td>
                      <td>{{Character.birth_year}}</td>
                      <td>{{Character.gender}}</td>
                      <td>{{Character.hair_color}}</td>
                      <td>{{Character.eye_color}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix"
                  aria-expanded="true" aria-controls="collapseSix">
                  Planets
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Climate</th>
                      <th scope="col">Gravity</th>
                      <th scope="col">Terrain</th>
                      <th scope="col">Population</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let planet of planets ; let indexV = index">
                      <th scope="row">{{indexV + 1}}</th>
                      <td>{{planet.name}}</td>
                      <td>{{planet.climate}}</td>
                      <td>{{planet.gravity}}</td>
                      <td>{{planet.terrain}}</td>
                      <td>{{planet.population}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                  aria-expanded="true" aria-controls="collapseSeven">
                  Starchips
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Model</th>
                      <th scope="col">Manufacturer</th>
                      <th scope="col">Passengers</th>
                      <th scope="col">Top Speed</th>
                      <th scope="col">Hyperdrive Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let starship of starships ; let indexV = index">
                      <th scope="row">{{indexV + 1}}</th>
                      <td>{{starship.name}}</td>
                      <td>{{starship.model}}</td>
                      <td>{{starship.manufacturer}}</td>
                      <td>{{starship.passengers}}</td>
                      <td>{{starship.max_atmosphering_speed}}</td>
                      <td>{{starship.hyperdrive_rating}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm mr-10">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight"
                  aria-expanded="true" aria-controls="collapseEight">
                  Species
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Average Height</th>
                      <th scope="col">Skin Colors</th>
                      <th scope="col">Average Lifespan</th>
                      <th scope="col">Eye Color</th>
                      <th scope="col">Lenguage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let specie of species ; let indexV = index">
                      <th scope="row">{{indexV + 1}}</th>
                      <td>{{specie.name}}</td>
                      <td>{{specie.average_height}}</td>
                      <td>{{specie.skin_colors}}</td>
                      <td>{{specie.average_lifespan}}</td>
                      <td>{{specie.eye_colors}}</td>
                      <td>{{specie.language}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>


</div>