<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
        <div class="col">

        </div>
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
        <div class="col">
            <img src="./assets/images/pantalla.jpg" class="col-sm-12 pl-sm-0 pr-sm-0">
            <div class="col-sm-12 text-center">A New Hope</div>
        </div>
    </div>
</div>